##Operadores Aritiméticos

In [ ]:
# Adição
5 + 2

7

In [ ]:
# Subtração
5 - 2

3

In [ ]:
# Multiplicação
5 * 2

10

In [ ]:
# Divisão
5 / 2

2.5

In [ ]:
# Divisão Inteira
5 // 2

2

In [ ]:
# Resto da Divisão
5 % 2

1

In [ ]:
# Potenciação
5 ** 2

25

## Operadores Relacionais

In [ ]:
# Menor
1 < 2

True

In [ ]:
# Menor ou Igual
1 <= 10

True

In [ ]:
# Maior
2 > 1

True

In [ ]:
#Maior ou Igual
2 >= 2

True

In [ ]:
# Igual
5 == 5

True

In [ ]:
# Diferente
5 != 8

True

## Operadores Lógicos



*   And  -> Tradução -> E
*   Or   -> Tradução -> Ou
*   Not  -> Tradução -> Não

## Tabela Verdade

And  -----> Em caso de True And False , sempre será False

In [ ]:
print(2 > 1 and 5 < 8)   # True and True = True
print(2 > 1 and 5 > 8)   # True and False = False
print(2 < 1 and 5 < 8)   # False and True = False
print(2 < 1 and 5 > 8)   # False and False = False

True
False
False
False

Or ---> Em caso de True And False , sempre será True

In [ ]:
print(2 > 1 or 5 < 8)   #True Or True = True
print(2 > 1 or 5 > 8)   #True Or False = True
print(2 < 1 or 5 < 8)   #False Or True = True
print(2 < 1 or 5 > 8)   #False Or False = False

True
True
True
False

Not ---> Sempre irá inverter a resposta.

In [ ]:
not 2 > 1   #True = False

False

In [ ]:
not 1 > 2   #False = True

True

## Variáveis

In [ ]:
print("Conhecendo o comando print!\n")

x = 2

print(x)

Conhecendo o comando print!

2

In [ ]:
y = 10
soma = x + y
print(soma)

12

In [ ]:
nome = "Pedro Henrique"

print(nome)

Pedro Henrique

Concatenação

In [ ]:
x = 5
print("O valor de X é", x , "!\n")

O valor de X é 5 !

In [ ]:
print("O valor de x é", x , "e o dobro é" , x * 2)

O valor de x é 5 e o dobro é 10

In [ ]:
print("Eu" , nome , "tirei" , x , "na prova de Python")

Eu Pedro Henrique tirei 5 na prova de Python

In [ ]:
y = 10 ; z = 20 + x - y
print("O valor da linha de cima é:" , y , z)

O valor da linha de cima é: 10 15

Type

In [ ]:
x = 10
type (x)
print("x", type (x))

nome = "Pedro"
print("nome" , type (nome))

num = "100"
num_convert = int(num)
print("Num" , type(num))
print("num_convert" , type(num_convert))

num_float = float(num)
print("Num_Float", num_float)

x <class 'int'>
nome <class 'str'>
Num <class 'str'>
num_convert <class 'int'>
Num_Float 100.0

Input

*   Armazenar a informação digitada pela usuário em uma variável.
*   O dado armazenado sempre será um texto.

In [ ]:
nome = input("Digite o nome do usuário:")
print(nome)

Digite o nome do usuário:pedro
pedro

In [ ]:
valor = input("Digite sua nota:")
print(nome, "sua nota é " , valor ,)

Digite sua nota:5
pedro sua nota é  5

In [ ]:
valor = input("Digite o valor do produto:")
print(valor)

Digite o valor do produto:100
100

In [ ]:
desconto = int(valor) - 5
print(desconto)

95

In [ ]:
desconto = int(valor) - 5
print(desconto)

95

##Condicional

In [ ]:
# if
if 5 < 10 :
  print('Falso')

Falso

In [ ]:
# if / else

numero1 = 10
numero2 = 5

if numero1 < numero2 :
  print('O ' , numero1 , 'é o maior numero')

else:
  print('O' , numero2 , ' é o menor numero')

O 5  é o menor numero

In [ ]:
# if / else / elif
num1 = 50
num2 = 50

if num1 > num2:
  print("O num1 é o maior numero")
elif num1 < num2 :
  print("O num2 é o maior numero")
else:
  print("Os numeros são iguais")

Os numeros são iguais

##Condicional com operadores lógicos

In [ ]:
num1 = 10
num2 = 5
num3 = 2

if (num1 > num2) and (num1 > num3):
  print('O num1 é o maior numero')
else:
  print("O num3 é o maior numero")

O num1 é o maior numero

##Lista

In [ ]:
lista = [5, "Rodrigo" , 8.9]

In [ ]:
type(lista)

list

In [ ]:
lista.append("Augusto") # Adicionando um elemento a lista

In [ ]:
print(lista)
print(lista[3])

[5, 'Rodrigo', 8.9, 'Augusto']
Augusto

##Tupla

In [ ]:
tupla = (5, "Rodrigo" , 8.9)

In [ ]:
type(tupla)

tuple

In [ ]:
tupla.append("Augusto")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(tupla)

(5, 'Rodrigo', 8.9)

##Dicionário

In [ ]:
dicionario = {"nome":"Pedro","cidade":"Ituiutaba"}

In [ ]:
type(dicionario)

dict

In [ ]:
print(dicionario)

{'nome': 'Pedro', 'cidade': 'Ituiutaba'}

In [ ]:
print(dicionario["nome"])

Pedro

In [ ]:
dicionario["ultimo_nome"] = "Morais"

In [ ]:
print(dicionario)

{'nome': 'Pedro', 'cidade': 'Ituiutaba', 'ultimo_nome': 'Morais'}

## Estrutura de repetição

For

In [ ]:
# For - Range -> range para falar quantas vezes deve contar
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for ranger + break
for contador in range(1000):
  print(contador)
  if contador == 7:
    break

0
1
2
3
4
5
6
7

In [ ]:
lista = ["Teste1","Teste2"]

In [ ]:
# for simples
for contador in lista:
  print(contador)

Teste1
Teste2

In [ ]:
# for com Enumerate
for i , contador in enumerate(lista):
  print(i,contador)

0 Teste1
1 Teste2

## For com operadores compostos

In [ ]:
lista2 = [2,3,4]

In [ ]:
for contador in lista2:
  contador +=2
  print(contador)

4
5
6

In [ ]:
for contador in lista2:
  contador *=2
  print(contador)

4
6
8

##While

In [ ]:
valor = 1
while(valor < 10):
  valor *= 2
  print(valor)

2
4
8
16

In [ ]:
# While com else

val = 1
while val < 10:
  val *= 2
else:
  print("Valor de val é:" , val)

Valor de val é: 16